body {
  margin: 0;
  background: transparent;
  overflow: hidden;
}
.avatar {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 0px;
  right: 0px;
  -webkit-app-region: drag; /* Optional: allows dragging */
}
